* {
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}



#root{
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  padding: 14px;
  background: #8d9db6;
  gap: 36px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  transition-duration: 250ms;
  cursor: pointer;
  border: solid 1px black;
}

header button:hover {
  opacity: 0.7;
  }

header button,
header input {
  padding: 14px 18px;
  background: #f1e3dd;
  border: solid 1px black;
}



p {
  font-size: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 18px;
}



.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: #667292;
  border: solid 1px black;
  color: #fff;
}

.todoItem p {
  flex: 1;
  color: #f1e3dd;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.footerContainer{
  display: flex;
  flex-direction: column;
  background: #667292;
  align-items: center;
  justify-content: center;
  height: 10vh;
  min-height: 50px;
  border-top: solid 3px black;
}

.footerContainer a{
  text-decoration: unset;
  cursor: pointer;
}

.footerContainer a:hover{
  opacity: 0.7;
}

.footerText{
  color: #f1e3dd;
  font-size: 1em;
}

@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }
}